//Screen Sizes
$screen-xs: 468px;
$screen-sm: 769px;
$screen-md: 992px;
$screen-lg: 1200px;

//General
$brand-primary: #73c13e;
$brand-purple: #9d48b5; 
$brand-blue: #00a4e6;

//Typography
$font-family-ultralight: 'AvenirNext-UltraLight' !default;
$font-family-regular: 'AvenirNext-Regular' !default;
$font-family-medium: 'AvenirNext-Medium' !default;
$font-family-demibold: 'AvenirNext-DemiBold' !default;
$h1-font-size: 84px;
$h2-font-size: 24px;



